.weather-logo {
    display: block;
    width: 100px;
}
.navbar {
    height: 60px;
    background-color: #2d3947!important;
}
.content-wrapper {
    background: url('https://i.imgur.com/OKD2Xbv.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 84vh;
}